*,*::before,*::after{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --background: #302f2f;
    --operator-color:#ff9500;
    --number-color:#505050;
    --special-btns-color: #a2a2a2;
  
}

body{
    background-color: var(--background);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-grid{
    display: grid; 
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(6,70px);
    gap: 15px;
    background-color: #3e3b3b;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #000;
}
.calculator-grid > button {
    border-radius: 50%;
    font-size: 20px;
    outline: none;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* styles for buttons */
.operatorKey, .span-two{
    background-color: var(--operator-color);
    color: #fff;
    cursor: pointer;
}
.numberKey, #point{
    background-color: var(--number-color);
    color: #fff;
    cursor: pointer;
}
.special-btns{
    background-color: var(--special-btns-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-grid > .numberKey:focus,#point:focus{
    background-color: #6e6e6e;
}

.calculator-grid > .operatorKey:focus,#equals:focus{
    background-color: #ffa82e;
}
.calculator-grid > .special-btns:focus{
    background-color: #cfcaca;
}

.output{
    grid-column: 1/-1;
    background-color: #808080;
    display: flex;
    justify-content: flex-end;
    align-items: center;    
    padding: 10px;
    font-size: 1.5em;
    word-wrap: break-word;
    word-break: break-all;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.span-two{
    grid-column: span 2;
    border-radius:50px  !important;
}